@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Bellefair&family=Caveat&family=Cinzel+Decorative&family=Cormorant+Upright:wght@300;500&family=Dosis:wght@300&family=Dynalight&family=Forum&family=IM+Fell+French+Canon:ital@1&family=Libre+Barcode+39+Text&family=Libre+Caslon+Text:ital@1&family=Metal&family=Work+Sans:wght@300&family=Yanone+Kaffeesatz&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* SCROLL BAR */

/* width */
/* ::-webkit-scrollbar {
  width: 20px;
} */

/* Track */
/* .galleryPage::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
} */
 
/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 10px;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
} */

/* HEADER */

header {
  background-color: rgb(15,15,75);
}

.menu {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100vw;
}

.menu p {
  padding: 10px;
}

header {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

header h1 {
  color: aliceblue;
  letter-spacing: 5px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

header h2 {
  color: black;
  width: 100%;
}

header h1:hover, h2:hover {
  color: rgb(168, 31, 140);
  cursor: pointer;
}

.pageWrapper {
  background: rgb(177,135,203);
  background: radial-gradient(circle, rgba(177,135,203,1) 0%, rgba(15,15,75,1) 69%);
  margin: 0;
  padding: 0;
}

/* LANDING */

.heroSection {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.heroSection h3 {
  color: rgb(232, 241, 250);
  font-family: 'Cinzel Decorative', cursive;
  font-size: 7rem;
}

.heroSection p {
  color: rgb(232, 241, 250);
}

#about {
  display: flex;
  flex-direction: column;
  padding: 10vh 10vw;
}

#author {
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

#author img {
  height: 150px;
  margin: 0;
  padding: 0;
  width: auto;
}

#author p {
  font-size: 12px;
  width: 100px;
  margin: 0;
  padding: 0;
}

#about p {
  line-height: 1.4rem;
  margin: 2.4rem;
}

.buttonClass {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 10vh;
}

.buttonClass p {
  text-decoration: underline;
}

/* BOOTH */

.boothWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.cameraCanvasWrapper {
  display: flex;
  flex-direction: row;
}

.cameraCanvasWrapper * {
  margin: 2vmin;
}

.cameraStream {
  height: 576px;
  margin-bottom: 5vmin;
  width: 384px;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imageCanvas {
  height: 576px;
  width: 384px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button:hover {
  cursor: pointer;
}

.buttons {
}

.buttons button {
  background-color: beige;
  border: solid 1px bisque;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
}

/* GALLERY */

.galleryPage {
  background: rgb(191,157,0);
  background: radial-gradient(circle, rgba(191,157,0,1) 0%, rgba(23,23,115,1) 87%);    
}

.galleryPage h2 {
  color: aliceblue;
  padding: 2vmin;
  padding-bottom: 4vmin;
  text-align: center;
}

.galleryWrapper {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.galleryWrapper > div {
  margin: 4vmin;
}

.galleryItem {
  display: flex;
  justify-content: center;
  background-color: rgb(249, 247, 239);
  border: 0.5px solid #e4e4e4;
  height: 514px;
  width: 380px;
}

.galleryItem img {
  height: 410px;
  margin-top: 20px;
  width: 332px;
}