@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Caveat&family=Covered+By+Your+Grace&family=Edu+NSW+ACT+Foundation&family=Gaegu:wght@300&family=Just+Me+Again+Down+Here&family=Loved+by+the+King&family=Mansalva&family=Sue+Ellen+Francisco&display=swap&family=Aboreto&family=Bellefair&family=Caveat&family=Cinzel+Decorative&family=Cormorant+Upright:wght@300;500&family=Dosis:wght@300&family=Dynalight&family=Forum&family=IM+Fell+French+Canon:ital@1&family=Libre+Barcode+39+Text&family=Libre+Caslon+Text:ital@1&family=Metal&family=Work+Sans:wght@300;500&family=Yanone+Kaffeesatz&display=swap&family=Bad+Script&family=Caveat&family=Covered+By+Your+Grace&family=Edu+NSW+ACT+Foundation&family=Gaegu:wght@300&family=Just+Me+Again+Down+Here&family=Loved+by+the+King&family=Mansalva&family=Sue+Ellen+Francisco&display=swap&family=Caveat&family=Cormorant+Garamond');

* {
  margin: 0;
  padding: 0;
}

/* html, body {
  height: 100%;
  width: 100%;
} */

/* SCROLL BAR */

/* width */
/* ::-webkit-scrollbar {
  width: 20px;
} */

/* Track */
/* .galleryPage::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
} */
 
/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 10px;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
} */

/* HEADER */

header {
  background-color: rgb(15,15,75);
}

.menu {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100vw;
}

.menu p {
  font-size: 1.3rem;
  padding: 10px;
}

header {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

header h1 {
  color: aliceblue;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
}

header p {
  color: aliceblue;
  font-family: 'Work Sans', sans-serif;
}

header h1:hover, p:hover {
  color: rgb(177,135,203);
  cursor: pointer;
}

.pageWrapper {
  background: rgb(177,135,203);
  background: radial-gradient(circle, rgba(177,135,203,1) 0%, rgba(15,15,75,1) 69%);
  margin: 0;
  padding: 0;
}

/* LANDING */

.heroSection {
  align-self: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.define {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 50vw;
}
.define p {
  line-height: 4vh;
}

.heroSection h3 {
  color: rgb(232, 241, 250);
  font-family: 'Cormorant Upright', serif;
  font-size: 6rem;
  font-weight: 100;
}

.heroSection h4 {
  color: rgb(232, 241, 250);
  font-size: 1.5rem;
  font-weight: 150;
}

.heroSection p {
  color: rgb(232, 241, 250);
  font-family: 'Work Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 150;
}

#about {
  align-items: center;
  align-self: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 8vh 30vw 70vh 30vw;
}

/* #about p:last-child {
  margin-bottom: 50vh;
} */

#about p {
  color: rgb(232, 241, 250);
  justify-self: center;
  display: flex;
  flex-direction: column;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.4rem;
  font-weight: 150;
  line-height: 2.5rem;
  padding: 2vmin;
  text-align: center;
}

#author {
  align-items: center;
  align-self: center;
  border: 1px solid  rgba(200, 181, 223, 1);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  margin-top: 2vmin;
  padding: 2vmin 3vmin;
}

#author img {
  height: 150px;
  margin: 0;
  padding: 0;
  width: auto;
}

#author p {
  font-size: 0.8rem;
  height: 150px;
  width: 80px;
  line-height: 1.5vmin;
  margin: 1vmin;
  padding: 0;
  text-align: left;
}

#author a {
  color: rgba(200, 181, 223, 1);
}

/* .buttonClass {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 10vh;
} */

/* .buttonClass p {
  text-decoration: underline;
} */

/* BOOTH */

.boothWrapper {
  align-items: center;
  background-color: #CFC4B4;
  height: 100%;
  margin: 0;
  padding-bottom: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.boothWrapper-2 {
  background-color: #E4DBCF;
  border: 2px solid #939085;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  /* height: 645px; */
  margin-top: 7vh;
  /* margin-bottom: 100%; */
  padding: 3vh;
  width: 1220px;
}

.cameraCanvasWrapper {
  border: 3px solid green;
  align-items: center;
  display: flex;
  flex-direction: row;
  background-color: black;
  border-radius: 25px;
  justify-content: center;
  margin: 10px;
  width: 1600px;
}

.cameraStream {
  /* height: 576px;
  margin-bottom: 5vmin;
  object-fit: cover;
  width: 384px; */
}

video {
  border: 1px solid blue;
  /* width: 384px;
  height: 576px; */
  object-fit: cover;
  margin-right: 5px;
}

#canvas {
  border: 2px solid red;
  object-fit: cover;
  /* transform: scaleX(2); */
  /* border: 1px solid yellowgreen;
  object-fit: cover;
  height: 576px;
  width: 384px; */
  /* object-fit: contain;
  width: 100%;
  height: 100%; */
}
.canvasContext {
  /* transform: scaleX(2); */
}

.imageCanvas {
  border: 1px solid purple;
  object-fit: contain;
  /* transform: scale(-1, 1); */
}
.buttons {
  justify-content: center;
  display: flex;
  padding-bottom: 20vh;
}

.buttons button {
  background-color: rgba(23, 23, 115, 0);
  border: solid 1px rgb(200, 181, 223);
  color: rgb(200, 181, 223);
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.buttons button:hover {
  cursor: pointer;
  color: black;
  background-color: rgba(200, 181, 223, 1);
}

.permissionButton {
  height: 60px;
  width: 120px;
}

.booth-buttons {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.otherButtons {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.otherButtons button {
  background-color: #F2E6D6;
  border: solid 3px #C1BCA6;
  color: #433c33;
  border-radius: 15px;
  height: 60px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  width: 120px;
  font-family: 'Cormorant Garamond', serif;
  font-size: 16px;
  font-weight: 600;
}

.otherButtons button:hover {
  background-color: #F2E6D6;
  border: solid 3px #D4CEB6;
  box-shadow: 1px 4px 5px grey;
  color: #786C5B;
  cursor: pointer;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.boothRow {
  display: flex;
  flex-direction: row;
  margin-top: 2vh;
  width: 81%;
  justify-content: space-between;
}
.boothRow img {
  background-color: #e2d3be;
  border: 2px solid #c3b8a7;
  border-radius: 5px;
  height: auto;
  padding: 4px;
  width: 40px;
}
.boothRow img:hover {
  background-color: #c3b8a7;
  cursor: pointer;
}
.boothRow-1 {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}
.boothRow-2 {
  justify-self: end;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
#b-1 {
  background-color: #25241f;
  height: 15px;
  margin: 2px;
  width: 402px;
}
#b-2 {
  background-color: #171a16;
  height: 16px;
  margin: 2px;
  width: 150px;
}
.stickers {
  align-self: flex-end;
  width: 90%
}
.stickers img {
  height: auto;
  width: 180px;

}
.stickers-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 40%;

}
.stickers-2 img {
  height: auto;
  width: 150px;

}

.countdowns {
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  width: 70%;
}

#countdownElement {
  color: white;
  font-family: 'Sue Ellen Francisco', cursive;
  font-size: 6rem;
  text-align: center;
}

/* GALLERY */

.galleryPage {
  background: rgb(191,157,0);
  background: radial-gradient(circle, rgba(191,157,0,1) 0%, rgba(23,23,115,1) 87%);    
}

.galleryPage h2 {
  color: aliceblue;
  padding: 8vmin 4vmin;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-size: 2.5rem;
}
.galleryWrapper {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.galleryWrapper > div {
  margin: 4vmin;
}
.galleryItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(249, 247, 239);
  border: 0.5px solid #e4e4e4;
  height: 514px;
  width: 380px;
}
.galleryItem img {
  height: 410px;
  margin-top: 20px;
  width: 332px;
}
.galleryCaption {
  color: black;
  text-align: left;
  font-size: 26px;
  /* font-family: 'Caveat', cursive; */
  font-family: 'Edu NSW ACT Foundation', cursive;
  /* font-family: 'Gaegu', cursive; */
  /* font-family: 'Loved by the King', cursive; */
  /* font-family: 'Mansalva', cursive; */
  font-weight: 350;
  padding-top: 1vh;
  width: 75%;
}
.galleryCaption p {

}