@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Caveat&family=Covered+By+Your+Grace&family=Edu+NSW+ACT+Foundation&family=Gaegu:wght@300&family=Just+Me+Again+Down+Here&family=Loved+by+the+King&family=Mansalva&family=Sue+Ellen+Francisco&display=swap&family=Aboreto&family=Bellefair&family=Caveat&family=Cinzel+Decorative&family=Cormorant+Upright:wght@300;500&family=Dosis:wght@300&family=Dynalight&family=Forum&family=IM+Fell+French+Canon:ital@1&family=Libre+Barcode+39+Text&family=Libre+Caslon+Text:ital@1&family=Metal&family=Work+Sans:wght@300;500&family=Yanone+Kaffeesatz&display=swap&family=Bad+Script&family=Caveat&family=Covered+By+Your+Grace&family=Edu+NSW+ACT+Foundation&family=Gaegu:wght@300&family=Just+Me+Again+Down+Here&family=Loved+by+the+King&family=Mansalva&family=Sue+Ellen+Francisco&display=swap&family=Caveat&family=Cormorant+Garamond&family=Share+Tech+Mono');

* {
  margin: 0;
  padding: 0;
}

/* html, body {
  height: 100%;
  width: 100%;
} */

/* SCROLL BAR */

/* width */
/* ::-webkit-scrollbar {
  width: 20px;
} */

/* Track */
/* .galleryPage::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
} */
 
/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 10px;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
} */

/* HEADER */

header {
  background-color: rgb(15,15,75);
}

.menu {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100vw;
}

.menu p {
  font-size: 1.3rem;
  padding: 10px;
}

header {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

header h1 {
  color: aliceblue;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
}

header p {
  color: aliceblue;
  font-family: 'Work Sans', sans-serif;
}

header h1:hover {
  color: rgb(177,135,203);
  cursor: pointer;
}

.pageWrapper {
  display: flex;
  flex-direction: column;
  background: rgb(177,135,203);
  background: radial-gradient(circle, rgba(177,135,203,1) 0%, rgba(15,15,75,1) 69%);
  margin: 0;
  padding: 0;
  width: 100%;
}

/* LANDING */

.heroSection {
  align-self: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.define {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 50vw;
}
.define p {
  line-height: 4vh;
}
p + h3 {
  margin-top: 13vh;
}
.heroSection h3 {
  color: rgb(232, 241, 250);
  font-family: 'Cormorant Upright', serif;
  font-size: 6rem;
  font-weight: 100;
}

.heroSection h4 {
  color: rgb(232, 241, 250);
  font-size: 1.5rem;
  font-weight: 150;
}

.heroSection p {
  color: rgb(232, 241, 250);
  font-family: 'Work Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 150;
}

#about {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: center;
  padding: 8vh 25vw 0vh 25vw;
}

#about p {
  color: rgb(232, 241, 250);
  justify-self: center;
  display: flex;
  flex-direction: column;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.8rem;
  font-weight: 160;
  line-height: 3rem;
  margin: 15vmin 0 15vmin 0;
  /* padding: 2vmin; */
  text-align: center;
}

#author {
  align-items: center;
  align-self: center;
  border: 1px solid  rgba(200, 181, 223, 1);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20vh;
  margin-top: 20vh;
  padding: 2vmin 3vmin;
}

#author img {
  height: 150px;
  margin: 0;
  padding: 0;
  width: auto;
}

#author p {
  font-size: 0.8rem;
  height: 150px;
  width: 80px;
  line-height: 1.5vmin;
  margin: 1vmin;
  padding: 0;
  text-align: left;
}

#author a {
  color: rgba(200, 181, 223, 1);
}

/* .buttonClass {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 10vh;
} */

/* .buttonClass p {
  text-decoration: underline;
} */

/* BOOTH */

.back-button {
  border:  2px solid rgb(200, 181, 223);
  border-radius: 100px;
  height: 35px;
  width: 90px;
  text-align: center;
  padding-top: 5px;
}

.back-button:hover {
  background-color: rgb(227, 213, 244);
}

textarea {
  border: 1px solid rgb(200, 181, 223);
  border-radius: 5px;
  height: 60px;
  margin: 0 0 0 10px;
  padding: 7px;
  width: 100px;
  font-family: 'Edu NSW ACT Foundation', cursive;
  font-size: 15px;
}

.boothWrapper {
  align-items: center;
  background: radial-gradient(circle, rgba(177,135,203,1) 0%, rgba(15,15,75,1) 69%);
  margin: 0;
  padding: 0;
  margin: 0;
  padding-bottom: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.view-and-controlsWrapper {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.boothWrapper-2 {
  align-items: center;
  border: 2px solid rgb(177,135,203);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 7vh;
  padding: 3vh;
  width: 1300px;
}

.boothWrapper-2 h2 {
  color: rgb(232, 241, 250);
  font-family: 'Cormorant Upright', serif;
  font-size: 5rem;
  font-weight: 350;
  margin-bottom: 20px;
}

.cameraCanvasWrapper {
  display: flex;
  flex-direction: row;
  background-color: black;
  border: 2px solid rgb(177,135,203);
  border-radius: 25px;
  height: 576px;
  justify-content: center;
  margin-bottom: 40px;
  padding: 0;
  width: 1000px;
}

video {
  object-fit: cover;
  margin-right: 5px;
}

.heroVideo {
  display: flex;
  flex-direction: row;
  justify-self: center;
  margin-top: 0px;
  margin-top: 48%;
  width: 101vw;
  height: auto;
}

#canvas {
  object-fit: cover;
}

.buttons {
  justify-content: center;
  display: flex;
  margin-bottom: 15vh;
  margin-top: 12vh;
}

.buttons button {
  background-color: rgba(23, 23, 115, 0);
  border: solid 2px rgb(200, 181, 223);
  color: rgb(200, 181, 223);
  border-radius: 35px;
  font-size: 20px;
  font-weight: 180;
  margin: 10px;
  padding: 15px;
  text-align: center;
}

.buttons button:hover {
  cursor: pointer;
  color: black;
  background-color: rgba(200, 181, 223, 1);
}

.permissionButton {
  height: 60px;
  width: 120px;
}

.booth-buttons {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-left: 30px;
  padding: 0;
}

.otherButtons {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 120px;
}

.otherButtons button {
  align-items: center;
  display: flex;
  background-color: rgba(0,0,0,0);
  border: solid 2px rgb(200, 181, 223);
  color: white;
  border-radius: 50px;
  height: 60px;
  justify-content: center;
  margin: 10px;
  padding: 20px;
  text-align: center;
  transition: 0.5s;
  width: 120px;
  font-family: 'Share Tech Mono', monospace;
  font-size: 16px;
  font-weight: 400;
}

.otherButtons button:hover {
  background-color: rgb(227, 213, 244);
  border: solid 2px rgb(166, 135, 202);
  box-shadow: 1px 4px 5px black;
  color: rgba(0,0,0,1);
  cursor: pointer;
  border-radius: 50px;
  margin: 10px;
  padding: 20px;
  text-align: center;
}

.boothRow {
  display: flex;
  flex-direction: row;
  margin-top: 2vh;
  width: 1365px;
  justify-content: space-between;
}
.boothRow img {
  background-color: #e2d3be;
  border: 2px solid #c3b8a7;
  border-radius: 5px;
  height: auto;
  padding: 4px;
  width: 40px;
}
.boothRow img:hover {
  background-color: #c3b8a7;
  cursor: pointer;
}

.boothRow-1 {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.boothRow-2 {
  justify-self: end;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  width: 1350px;
}

#b-1 {
  border: 2px solid rgb(200, 181, 223);
  border-radius: 200px;
  height: 15px;
  margin: 2px;
  width: 402px;
}

#b-2 {
  border: 2px solid rgb(200, 181, 223);
  border-radius: 200px;
  height: 10px;
  margin: 2px;
  width: 180px;
}

.countdowns {
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  width: 70%;
}

#countdownElement {
  color: white;
  font-family: 'Sue Ellen Francisco', cursive;
  font-size: 6rem;
  text-align: center;
}

form {
  margin: 0;
  padding: 0;
}
/* GALLERY */

#back-to-top-button {
  bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position:fixed;
  margin-right: 50px;
  width: 95%;
}

#back-to-top-button button {
  background-color: rgba(0,0,0,0);
  border: none;
}

.galleryPage {
  background: rgb(191,157,0);
  background: radial-gradient(circle, rgba(191,157,0,1) 0%, rgba(23,23,115,1) 87%);    
}

.galleryPage h2 {
  border: 2px solid rgb(200, 181, 223);
  border-radius: 200px;
  color: aliceblue;
  margin: 8vmin 4vmin;
  padding: 20px;
  text-align: center;
  font-family: 'Cormorant Upright', serif;
  font-size: 4rem;
}

.galleryWrapper {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.galleryWrapper > div {
  margin: 4vmin;
}

.galleryItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(249, 247, 239);
  border: 0.5px solid #e4e4e4;
  height: 378px;
  width: 280px;
  transition: 0.8s;
}

.galleryItem:hover {
  border: 4px solid rgb(255, 255, 255);
  rotate: 5deg;
}

.galleryItem img {
  object-fit: cover;
  height: 294px;
  margin-top: 20px;
  width: 238px;
}

.galleryCaption {
  color: black;
  text-align: left;
  font-size: 20px;
  /*  */
  /* font-family: 'Gaegu', cursive; */
  /*  */
  /* font-family: 'Mansalva', cursive; */
  font-weight: 350;
  padding-top: 1vh;
  width: 78%;
}

#font-1 {
  font-family: 'Edu NSW ACT Foundation', cursive;
  line-height: 20px;
}

#font-2 {
  font-family: 'Caveat', cursive;
  letter-spacing: 1.5px;
  line-height: 17px;
}

#font-3 {
  font-family: 'Loved by the King', cursive;
  letter-spacing: 2px;
  line-height: 19px;
  font-weight: 800;
}

#font-4 {
  font-family: 'Gaegu', cursive;
  line-height: 18px;
  font-weight: 700;
}

#font-5 {
  font-family: 'Mansalva', cursive;
  line-height: 19px;
}

#r1 {
  rotate: 5deg;
}
#r1:hover {
  rotate: 0deg;
}

#r2 {
  rotate: -4deg;
}
#r2:hover {
  rotate: 0deg;
}

#r3 {
  rotate: 6deg;
}
#r3:hover {
  rotate: 0deg;
}

#r4 {
  rotate: -2deg;
}
#r4:hover {
  rotate: 0deg;
}